:root {
  --background: #1d1d1d;
  --primary: #edf2f4;
  --secondary: #a1a1a1;
  --progress-background: #222222;
  --selected: #a7aef0;
  --black: black;
  --card: #3d3d3d;
  --success: #a6f1c8;
  --error: #ea253d;
  --add: #a6c0f1;
}

body,
html,
#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

body {
  color: var(--primary);
  background-color: var(--background);
  font-family: 'Proxima Nova', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

#app {
  min-height: 100dvh;
}

a.not-link {
  color: inherit;
  text-decoration: inherit;
}

a.not-link:hover {
  opacity: 0.9;
}

.color-secondary {
  color: var(--secondary);
}

.nav-link[aria-current='page'] svg {
  color: var(--selected);
}
